body{
    background-color: aliceblue;
    font: italic;
    font-size: 1.5em;
}

nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:blue;

}
nav li{
    list-style-image: url("pencilLogo.gif");
}
h1{color: olive}